[Desktop Entry]
Name=mailnot
Comment=GMail Notifier for GNOME 3
TryExec=mailnot
Exec=mailnot
Icon=mail-notification
Terminal=false
Type=Application
Categories=GNOME;Internet;
